@import "../../node_modules/govuk-frontend/govuk/all";


.app-site-search__input {
    font-size: 1.1875rem;
    line-height: 1.31579;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-bottom: 0;
    padding: 5px;
    padding-left: 35px;
    border: 2px solid #fff;
    border-radius: 0;
    -webkit-appearance: none
}

.app-site-search__hint {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-bottom: 0;
    padding: 5px;
    padding-left: 35px;
    border: 2px solid #fff;
    border-radius: 0;
    -webkit-appearance: none
}

.app-site-search {
    margin: 0;
    margin-top: -5px;
    float: right;
    width: 300px;
    max-width: 100%;
}


.app-site-search__wrapper {
    display: block;
    position: relative;
    height: 40px;
};